.button {
    position: relative;
    background: linear-gradient(to right, #3366FF, #009999);
    color: white;
    border: none;
    padding: 0.3rem 0.2rem;
    overflow: hidden;
    z-index: 1;
}

.button::after {
    content: "";
    background: linear-gradient(to right, #3366FF, #009999);
    position: absolute;
    top: -2;
    left: -2;
    width: 100%;
    height: 100%;
    transform: scale(0,1);
    transform-origin: left,top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
}

.button:hover {
    color: white;
}

.button:hover::after {
    transform: scale(1, 1);
}


